:root{
    --primary-color: #01b982;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1.2rem;
}
h1{
    color: var(--primary-color);
}
small{
    color: #768170;
    font: 0.8rem;
}
small.span{
    color: var(--primary-color);
    font-weight: bold;
}
p{
    margin-top: 0.5rem;
    text-align: center;
    color: #768170;
}
#swap{
    cursor: pointer;
    position: relative;
    left: 1.5rem;
}
.currency{
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select{
    padding: 0.8em 1.6em 0.8em 0.8em;
    cursor: pointer;
    border: 1px solid #dededd;
    border-radius: 0.5em;
    font-size: 1em;
    appearance: none;

}
.currency input{
    font-size: 2em;
    text-align: right;
    border: 0;
    background: transparent;
}
input:in-range{
    border: 2px solid green;
}
input:out-of-range{
    border: 2px solid red;
}
.swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate{
    color: var(--primary-color);
    font: 1em;
    padding: 0.8em;
}
select:focus, input:focus{
    outline: 0;
}